<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap uap3 rescap mp">
  <Identity Name="5f36160c-3823-4e19-8138-1f0e4ace2729" Publisher="CN=gus33000" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5f36160c-3823-4e19-8138-1f0e4ace2729" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Nokia Device ToolKit OS Reboot Provider</DisplayName>
    <Description>This provider communicates with the NDTK service in order to provide OS Reboot access.</Description>
    <PublisherDisplayName>gus33000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InteropTools.Providers.OSReboot.NDTKProvider.App.App">
      <uap:VisualElements DisplayName="Nokia Device ToolKit OS Reboot Provider" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="This provider communicates with the NDTK service in order to provide OS Reboot access." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="InteropTools.Providers.OSReboot.NDTKProvider.OSRebootProvider">
          <uap:AppService Name="NDTKRebootProviderService" />
        </uap:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="InteropTools.Providers.OSReboot" Id="NDTKRebootProvider" DisplayName="Nokia Device ToolKit OS Reboot Provider" Description="This provider communicates with the NDTK service in order to provide OS Reboot access." PublicFolder="Assets">
            <uap3:Properties>
              <Service>NDTKRebootProviderService</Service>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="id_cap_runtime_config" />
    <rescap:Capability Name="id_cap_oem_custom" />
    <rescap:Capability Name="oemPublicDirectory" />
    <rescap:Capability Name="runtimeConfig" />
    <rescap:Capability Name="oemCustom" />
    <rescap:Capability Name="deviceUnlock" />
    <rescap:Capability Name="deviceManagementAdministrator" />
    <rescap:Capability Name="userDataSystem" />
  </Capabilities>
</Package>