<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interop Tools Web (ITW)</title>
    <link rel="stylesheet" href="../css/winstrap.min.css">
    <script src="../js/vendor/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyph glyph-hamburger"></i>
                    </button>

                    <a href="../index.html" class="navbar-brand">Interop Tools</a>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="editor.html" role="button" aria-expanded="false">Registry Editor</a>
                        </li>
                        <li class="dropdown">
                            <a href="browser.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Registry Browser<i class="glyph glyph-chevron-down-2"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">This device</a></li>
                                <li class="divider"></li>
                                <li><a href="">HKEY_LOCAL_MACHINE (HKLM)</a></li>
                                <li><a href="">HKEY_CLASSES_ROOT (HKCR)</a></li>
                                <li><a href="">HKEY_CURRENT_CONFIG (HKCC)</a></li>
                                <li><a href="">HKEY_CURRENT_USER (HKCU)</a></li>
                                <li><a href="">HKEY_CURRENT_USER_LOCAL_SETTINGS (HKCULS)</a></li>
                                <li><a href="">HKEY_DYN_DATA (HKDD)</a></li>
                                <li><a href="">HKEY_LOCAL_MACHINE (HKLM)</a></li>
                                <li><a href="">HKEY_PERFORMANCE_DATA (HKPD)</a></li>
                                <li><a href="">HKEY_USERS (HKU)</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<i class="glyph glyph-chevron-down-2"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                                <li><a id="changeloglink" href="#">Changelog</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">REST API documentation</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- This tag should be a child of the body -->
    <div class="alert-stack">

        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="glyph glyph-cancel"></i></span>
            </button>

            <div class="container">
                <div class="row">
                    <div class="col-md-20">
                        <p id="noticeprealert">Pre-release build of Interop Tools for Web (ITW), stuff might not work as expected or be unvailable. Please provide bug reports about the rest api and/or the web interface on telegram @gus33000.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- We can stack other alert components here -->
    </div>

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    <h3>Registry Editor</h3>
                    <ul class="nav nav-pills" data-scroll="smooth">
                        <li role="presentation">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="fonts">
            <div class="col-xs-24">
                <div class="row">
                    <div class="col-xs-24">
                        <h4>Registry Editor</h4>
                        <form style="padding: 1em 0 0 0;">
                            <div class="form-group">
                                <label for="inputHive">Registry Hive</label>
                                <div id="inputHive" class="combobox">
                                    <select class="form-control">
                                        <option>HKEY_LOCAL_MACHINE (HKLM)</option>
                                        <option>HKEY_CLASSES_ROOT (HKCR)</option>
                                        <option>HKEY_CURRENT_CONFIG (HKCC)</option>
                                        <option>HKEY_CURRENT_USER (HKCU)</option>
                                        <option>HKEY_CURRENT_USER_LOCAL_SETTINGS (HKCULS)</option>
                                        <option>HKEY_DYN_DATA (HKDD)</option>
                                        <option>HKEY_LOCAL_MACHINE (HKLM)</option>
                                        <option>HKEY_PERFORMANCE_DATA (HKPD)</option>
                                        <option>HKEY_USERS (HKU)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputKey">Registry Key Path</label>
                                <input class="form-control" id="inputKey" placeholder="Example: Software\Microsoft\Windows NT\CurrentVersion">
                            </div>

                            <div class="form-group">
                                <label for="inputValueName">Registry Value Name</label>
                                <div id="inputValueName" class="combobox">
                                    <select class="form-control">
                                        <option>Normal</option>
                                        <option>Default</option>
                                    </select>
                                </div>
                                <input class="form-control" id="inputValueName2" placeholder="Example: CurrentBuild">
                            </div>

                            <div class="form-group">
                                <label for="inputData">Registry Value Data</label>
                                <textarea id="inputData" class='form-control'></textarea>
                            </div>

                            <button type="submit" class="btn btn-default">Read value</button>
                            <button type="submit" class="btn btn-default">Write value</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="back-to-top affix-top">
        <i class="glyph glyph-up"></i>
        <span class="sr-only">Back to top</span>
    </a>
    <script src="./js/vendor/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#changeloglink").click(function () {
                $('#modal-changelog').modal('show');
            });

            var alertStack = $('.alert-stack');

            if (alertStack.length == 0) {
                return;
            }

            alertStack.affix({
                offset: {
                    top: alertStack.offset().top
                }
            });

            var noticeprealert = $('#noticeprealert');

            $.get("./api/core/getappbuildstring", function (data) {
                noticeprealert.text('Pre-release build of Interop Tools for Web (ITW) build ' + data + ', stuff might not work as expected or be unvailable. Please provide bug reports about the rest api and/or the web interface on telegram @gus33000.');
            });

            var backToTop = $('.back-to-top'),
                threshold = 2 * $(window).height();

            // Displayed when we've scrolled 2x the viewport height
            if (backToTop.length === 0 ||
                $(document).height() < threshold) {
                return;
            }

            backToTop.affix({
                offset: {
                    top: threshold
                }
            });

            // Smooth scroll to top
            backToTop.click(function () {
                $('html, body').animate({ scrollTop: 0 }, {
                    duration: 750,
                    easing: 'swing'
                });

                return false; // prevent default href
            });
        });
    </script>
</body>
</html>